{% extends 'base.twig' %}

{% block pagetitle %}My book recommendation{% endblock %}

{% block booksactive %}<li><span class="active">My book recommendations</li>{% endblock %}

{% block content %}

    <div class="container">

        <h1 class="h1 azure-blue">{{ block('pagetitle') }}</h1>

        <div class="book-selection">

            {% for book in books %}

                <div class="media">

                    <div class="media-left">
                        <img src="{{ book.image|escape }}" width="150" alt="{{ book.title|escape }}">
                    </div>
                    <div class="media-body">
                        <h3 class="h3 media-heading azure-blue">{{ book.title|escape }}</h3>
                        <p><strong>Author(s):</strong> {{ book.authors|escape }}</p>
                        <p>{{ book.abstract|escape|nl2br }}</p>
                    </div>

                </div>

                <hr>

            {% endfor %}


        </div>

    </div>

{% endblock %}